.dock {
  height: 30px;
  background-color: lightblue;
  align-self: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
