.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.max-height {
  height: 100%;
}

.space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.text-align-center {
  text-align: center;
}

.text-white {
  color: white;
}

.margin-auto {
  margin: auto;
}

.padding-vertical-10 {
  padding: 10px 0px 10px 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.lg-switch {
  width: 20px;
  height: 20px;
}

.overflow-scroll {
  overflow: scroll;
}

.align-items-center {
  align-items: center;
}